.dustbin-target {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  color: white;
  margin-bottom: 20px;
}

.dustbin-drag-source {
  border: 1px dashed black;
  padding: 5px 10px;
  margin-right: 20px;
  cursor: move;
}

.dragging {
  opacity: 0.4;
}
